:root {
  --accent-color: #2196f3;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tertiary-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --card-set-gap: 30px;
  --icon-color: #afb1b8;
  --accent-icon-color: #ffffff;
  --tertiary-background-color: #f5f4fa;
}

/*========header===================*/

/*===================end header==============*/
/*===================hero==============*/

/*===================end hero==============*/

/*===================это мы==============*/

/*===================end это мы=============*/
/*===================Чем мы занимаемся=============*/

/*=================== end Чем мы занимаемся=============*/
/*===================команда ================*/

/* .social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon:not(:last-child) {
  margin-right: 10px;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--accent-icon-color);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
} */
/*=================== end команда ================*/
/* ==========Постоянные клиенты=============== */

/*=================footer dark================*/

/*=================end footer dark================*/
/* ================portfolio===============*/

/* ================end portfolio===============*/
/* ================backdrop===============*/

/* ================end backdrop===============*/ ;
